.ButtonRegular {
  border: 0px solid;
  height: 3rem;
  padding: 10px;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
}

.ButtonRegular:hover {
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}