@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.App {
  min-width: 100vh;
  min-height: 100vh;
  padding: 20px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__wrapper_top {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.App__searchbar {
  display: block;
  width: 300px;
}

.post-enter {
  transform: translateX(-1000px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 300ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-1000px);
  transition: all 300ms ease-in;
}