.Post {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Post__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.Post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Post__id {
  color: gainsboro;
  font-size: 0.7rem;
}